footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 80px;
  align-items: center;
}
.footer-texto {
  text-align: justify;
  padding: 0px 60px 0px 0px;
}
.footer-informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-items: flex-start;
}
.footer-mapa-site {
  display: flex;
  flex-flow: column;
  text-align: start;
  gap: 10px;
}
.footer-bold {
  font-weight: bold;
}

footer a {
  padding: 0px;
}

footer a:visited {
  color: #724bcc;
}
