.menu-informacoes,
.menu-login,
.menu-marca {
  display: flex;
  margin-top: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
}
a {
  text-decoration: none;
  color: #323130;
  font-weight: 500;
}
li {
  list-style: none;
  padding: 10px;
}
