nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 20px 80px 0px 80px;
}
.menu-informacoes,
.menu-login,
.menu-marca {
  display: flex;
  margin-top: 30px;
  border-top: 0px;
}
.menu-marca {
  justify-self: start;
}
.menu-login {
  justify-self: end;
}
nav .menu {
  margin-top: 0px;
}
nav a {
  text-decoration: none;
  color: #323130;
  font-weight: 500;
  padding: 0px;
}
li {
  list-style: none;
  padding: 10px;
}

@media (max-width: 800px) {
  nav {
    display: flex;
  }
}

@media (max-width: 800px) {
  nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 0px 80px;
  }
  .menu-login {
    justify-self: start;
  }
  li {
    padding: 0px 10px 10px 0px;
  }
}
